@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,400;0,700;1,200&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
.header {
    position: sticky;
    top :5wh;
    z-index: 9;
    background-image: linear-gradient(to right bottom, #280e8e, #44005b, #3b0033, #260218, #000000);
       
}

.tituloHeader {
    font-family: 'Lobster', cursive;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    color:rgb(246, 246, 201);
    margin-top: 18%; 
}

.fotoFreud {
    width: 200px ;
    height: 800 px;
    border-radius: 1rem;
    margin: 20px;
    display: inline;
    position: relative;
    float: right;  
}

.logo {
    width: 300px;  
    height: 110px ;
    margin: 20px;
    display:inline-block;
    position: relative;
    left: 30px;
   
}

.nav{
  background-color: bisque; 
   }
 
.nav-item {
    font-family:'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1rem;
    text-transform: uppercase;
}


.main { 
    background-color: antiquewhite;
    background-image: url ("cartaFondo.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

.video {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 10%;
}
.tituloPrincipal {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: right;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-decoration: underline;
       
}

.subtitulo {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 2rem;
    text-decoration: underline;
    margin-left: 1%;
}

.parrafo {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: justify;
    font-weight: 200;
    text-underline-offset: 1rem;
    margin-left: 1%;
} 


.seccionSecundaria .subtitulo {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}


.seccionSecundaria .parrafo {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 1%;
}
footer {
    background-image: linear-gradient(to bottom, #280e8e, #44005b, #3b0033, #260218, #000000);
    color: rgb(246, 246, 201);  
}
.parrafoFooter{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-style: italic;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.socialButton {
    font-size: 1rem;
    text-align: center;
    margin:5%;
    width: 10%;
    height: auto;
    display: inline;
    margin-right: 20px;
    border-radius: 50%;

}


