.footer {
    background-image: $gradiente ;
    color: $color-primario;  
    width: $ancho;
    height: 25vh;
    bottom: 0%;
    position:  $posicion-relativa;
    .socialMedia {
        display: $display-flex;
        justify-content: $contenido-centrado;
        margin-top: 10px ;
        border-radius:10px;
        animation: float infinite 4s ease-in-out;
    }
    .parrafoFooter {
        font-family: $fuente-cursiva;
        font-size: $tamanio-fuente-grande;
        font-weight: 300;
        text-align: $texto-align-center;
        margin-bottom: $margen-regular;
        margin-top: 3rem;
    }
}
@keyframes float {
    0% {
       transform: translateY(0);
    }
    50% {transform: translateY(25px);
   }
   100% {transform: translateY(0);}   
   }