@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;0,900;1,700&family=Water+Brush&display=swap');

.tituloPrincipal {
    font-family: $fuente-regular;
    font-size:$tamanio-fuente-grande;
    text-align: right;
    font-weight: 900 $negrita;
    margin-top:$margen-regular;
    margin-bottom: $margen-intermedio;
    text-decoration: $subrayado;
    margin-left: $margen-regular;
    margin-right: $margen-regular;
    color:$color-primario;
       
}

.subtitulo {
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    font-weight: 700 $mas-negrita;
    text-align: left;
    margin-bottom: $margen-regular;
    text-decoration: $subrayado;
    margin-left: $margen-regular;
    color: $color-primario;
}

.subtitulo2{
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    font-weight: 400 $negrita;
}

.parrafo {
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    text-align: justify;
    font-weight: 400;
    margin-left: 3rem;
    margin-right: 3rem;
    color: $color-primario;
} 
