
.fondo {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/imagenFondo.jpg);
    display:$display-flex;
    flex-direction: $flex-direction-columna;
    position: $posicion-absoluta;
    align-content: $contenido-alineado;
    justify-content: $contenido-centrado;
    background-size: contain;
    width: $ancho;
  
    
}



.video {
    display: $display-flex;
    flex-direction: $flex-direction-columna;
    position: $posicion-relativa;
    align-content: $contenido-alineado;
    justify-content: $contenido-centrado;
    width: $ancho;
    height: 100%;
     
}



.card {
    display: inline-block;
    width: 18rem;
    height: max-content;
    margin: 4rem;
    padding: 1rem;
    border-color: $azul;
    background-color: $color-secundario;
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    text-align: $texto-align-center;
    color:$color-primario;
    
}

.btn {
    color:$azul;
    background-color: $color-botones ;
    border-color: #085b00;
    font-family: $fuente-regular;
    margin-bottom:$margen-intermedio; 
}

.formulario {
    position: $posicion-relativa;
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    text-align: $texto-align-center;
    font-weight: $negrita;
    color: $color-primario;
    justify-content: space-around;
    width: $ancho/3;
   
    .formularioCaja {
        margin-top: 1rem; 
        margin-bottom: 1rem;
    }
}


.seccionMapa{
    justify-content: $contenido-centrado;
   .mapa{
    margin-bottom: $margen-abajo;
    width: $ancho/3;
   
   }
}

.row {
    margin:0
}