
.fondo {
    @include flex-direction-center (absolute);
    background-image:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/images/imagenFondo.jpg);
    background-size: contain;
  
}


.video {
    @include flex-direction-center (relative);
    height: 100%;
   
}


.card {
    display: inline-block;
    width: 18rem;
    height: max-content;
    margin: map-get($margenes, margen4 );
    padding: 1rem;
    border-color: map-get($colores, azul);
    background-color: map-get($colores,secundario);
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    text-align: $texto-align-center;
    color:map-get($colores, color-primario);;
    
}

.btn {
    color:map-get($colores, azul);
    background-color: map-get($colores,color-botones) ;
    border-color: #085b00;
    font-family: $fuente-regular;
    margin-bottom:map-get($margenes, margen3 ); 
}

.formulario {
    position: $posicion-relativa;
    font-family: $fuente-regular;
    font-size: $tamanio-fuente-chica;
    text-align: $texto-align-center;
    font-weight: $negrita;
    color: map-get($colores, color-primario);
    justify-content: space-around;
    width: $ancho/3;
   
    .formularioCaja {
        margin-top: map-get($margenes, margen2 ); 
        margin-bottom: map-get($margenes, margen1 );
    }
}


.seccionMapa{
    justify-content: $contenido-centrado;
   .mapa{
    margin-bottom: map-get($margenes, margen3 );
    width: $ancho/3;
   }
}

.row {
    margin:map-get($margenes, margen0 )
}