/*media querys para celular*/
@media screen and (max-width: 767px) {
    /*header para celular*/

.header {
    .tituloHeader {
        font-size: $tamanio-fuente-grande;
        margin-top: 5%;
        }
    .fotoFreud {
       display: none; 
        }
    .logo{
        width: 11rem;  
        height: 4rem ;
        margin: 4px;
        position: $posicion-relativa;
        text-align: $texto-align-center;
        }
    .navbar {
        .navbar-toggler {
            background-color: map-get($colores, color-botones);
            color:map-get($colores, azul );
            border-color:map-get($colores, azul ) ;
        }       
    }
}

.footer{
    .parrafoFooter{
        font-family: $fuente-regular;
        font-size: $tamanio-fuente-chica;  
    }
}
    
.caricatura{
        display: $display-flex;
        margin: auto;
        width: 334px;
        height: 451px;
    }


   

.card{
    display:$display-flex;
    margin: 1rem auto;
    height: fit-content;
}


/* parrafos*/

.parrafo {
    @include fuente-general (justify, $decoracion: $subrayado, $tamaño: $tamanio-fuente-chica );
    text-decoration: none;
    font-weight: 400;
    margin-left: map-get($margenes, margen2);
    margin-right: map-get($margenes, margen1);
   
} 
}

/*media querys para tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
   /*header para tablet*/
   
.header {
    .tituloHeader {
        font-size: $tamanio-fuente-grande;
        margin-top: 5%;
        }
    
    .fotoFreud {
        width: 180px ;
        height: 100px;
        border-radius: 0.5rem;
        margin: 5px;
        float:right;
        }
    .logo{
        width: 11rem;  
        height: 3rem ;
        margin: 4px;
        position:  $posicion-relativa;
        text-align: $texto-align-center;
    }
    .navbar {
        .navbar-toggler {
            background-color: map-get($colores, color-botones);
            color:map-get($colores, azul );
            border-color:map-get($colores, azul ) ;
        }      
    }
}   



.caricatura{
    display: $display-flex;
    margin: auto;
    align-items: center;
}

.footer{
    .parrafoFooter{
        font-family: $fuente-regular;
        font-size: $tamanio-fuente-chica;  
    }
}    


.card{
    height: fit-content;
}

}