$gradiente : linear-gradient(to right top, #051937, #003b5f, #005f77, #008479, #25a667);
$fuente-cursiva: 'Water Brush', cursive;
$fuente-regular: 'Roboto', sans-serif;
$posicion-relativa: relative;
$tamanio-fuente-grande:2rem;
$tamanio-fuente-chica: 1rem;
$color-primario:rgb(246, 246, 201);
$color-secundario:  rgb(7, 82, 69);
$color-botones:rgb(119, 196, 119);
$azul:  rgb(10, 6, 240);
$ancho: 100%;
$display-flex: flex;

 